<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/quartz?characterEncoding=utf-8" />
        <property name="username" value="root" />
        <property name="password" value="huangpu929" />
        <property name="filters" value="config,stat,wall" />
        <property name="connectionProperties" value="false" />
        <property name="maxActive" value="50" />
        <property name="maxWait" value="10000" />
        <property name="testWhileIdle" value="true" />
        <property name="timeBetweenEvictionRunsMillis" value="300000" />
        <property name="validationQuery" value="SELECT 1 FROM DUAL"/>

    </bean>
    <!-- 1.定义任务的bean -->
    <bean id="hhJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <!-- 指定job名称-->
        <property name="name" value="myJob" />
        <!-- 指定job的分组 -->
        <property name="group" value="myGroup" />
        <!-- 定义具体的job类-->
        <property name="jobClass" value="com.hazer.quartz.MyJob" />
        <property name="durability" value="true" />
        <property name="applicationContextJobDataKey" value="myData" />
    </bean>

    <!-- 定义trigger -->
    <bean id = "myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="trigger" />
        <property name="group" value="triggerGroup" />
        <!-- 指定trigger绑定的job -->
        <property name="jobDetail" ref="hhJob" />
        <property name="cronExpression" value="*/5 * * * * ?" />
    </bean>

    <bean id = "scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails" ref="hhJob"></property>
        <property name="triggers" ref="myTrigger"></property>
        <property name="quartzProperties" value="classpath:quartz.properties">
            <!--			<value>-->
            <!--				org.quartz.scheduler.instanceName = MyScheduler-->
            <!--				org.quartz.threadPool.class = org.quartz.simpl.SimpleThreadPool-->
            <!--				org.quartz.threadPool.Priority = 5-->
            <!--				org.quartz.threadPool.threadCount = 11-->
            <!--				org.quartz.jobStore.class = org.quartz.simpl.RAMJobStore-->
            <!--			</value>-->
        </property>
        <property name="dataSource" ref="dataSource"></property>
    </bean>
</beans>