<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.procon.mapper.ods.PvnCompanyInfoMapper">
  <resultMap id="BaseResultMap" type="cc.procon.model.po.PvnCompanyInfo">
    <!--@mbg.generated-->
    <!--@Table PVN_COMPANY_INFO-->
    <id column="COMPANY_ID" jdbcType="VARCHAR" property="companyId" />
    <result column="P_COMPANY_ID" jdbcType="VARCHAR" property="pCompanyId" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="COMPANY_ENGLISH_NAME" jdbcType="VARCHAR" property="companyEnglishName" />
    <result column="COMPANY_TYPE" jdbcType="DECIMAL" property="companyType" />
    <result column="ORGANIZATION_NUMBER" jdbcType="VARCHAR" property="organizationNumber" />
    <result column="ESTABLISH_DATE" jdbcType="TIMESTAMP" property="establishDate" />
    <result column="DOMICILE_ID" jdbcType="DECIMAL" property="domicileId" />
    <result column="COMPANY_ADDRESS" jdbcType="VARCHAR" property="companyAddress" />
    <result column="COMPANY_ADDRESS2" jdbcType="VARCHAR" property="companyAddress2" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="REG_CITY" jdbcType="VARCHAR" property="regCity" />
    <result column="REG_PROVINCE" jdbcType="VARCHAR" property="regProvince" />
    <result column="REG_COUNTRY" jdbcType="VARCHAR" property="regCountry" />
    <result column="CONTACT_PHONE" jdbcType="VARCHAR" property="contactPhone" />
    <result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="WEBSITE" jdbcType="VARCHAR" property="website" />
    <result column="REGISTERED_CAPITAL" jdbcType="DECIMAL" property="registeredCapital" />
    <result column="COMPANY_PROFILE" jdbcType="CLOB" property="companyProfile" />
    <result column="OFFSHORE_FUND" jdbcType="DECIMAL" property="offshoreFund" />
    <result column="PHILOSOPY" jdbcType="CLOB" property="philosopy" />
    <result column="COMPANY_STATUS" jdbcType="DECIMAL" property="companyStatus" />
    <result column="BASE_CURRENCY_CRC" jdbcType="DECIMAL" property="baseCurrencyCrc" />
    <result column="REGISTER_NUMBER" jdbcType="VARCHAR" property="registerNumber" />
    <result column="REGISTER_STATUS" jdbcType="DECIMAL" property="registerStatus" />
    <result column="REGISTER_DATE" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="IS_MEMBER" jdbcType="DECIMAL" property="isMember" />
    <result column="JOIN_DATE" jdbcType="TIMESTAMP" property="joinDate" />
    <result column="MEMBER_TYPE" jdbcType="DECIMAL" property="memberType" />
    <result column="FUND_CATEGORY_ORI" jdbcType="VARCHAR" property="fundCategoryOri" />
    <result column="NATURE_BUSINESS_TYPE" jdbcType="DECIMAL" property="natureBusinessType" />
    <result column="CAPITAL_PAID_RATE" jdbcType="DECIMAL" property="capitalPaidRate" />
    <result column="REGISTER_NUMBER_ADDRESS" jdbcType="VARCHAR" property="registerNumberAddress" />
    <result column="LOGO" jdbcType="VARCHAR" property="logo" />
    <result column="ISVISIBLE" jdbcType="DECIMAL" property="isvisible" />
    <result column="ISVALID" jdbcType="DECIMAL" property="isvalid" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="PAID_CAPITAL" jdbcType="DECIMAL" property="paidCapital" />
    <result column="COMPANY_ASSET_SIZE" jdbcType="DECIMAL" property="companyAssetSize" />
    <result column="LEGAL_REPRESENTATIVE" jdbcType="VARCHAR" property="legalRepresentative" />
    <result column="REPRESENTATIVE_EXPERIENCE" jdbcType="CLOB" property="representativeExperience" />
    <result column="IS_QUALIFY" jdbcType="VARCHAR" property="isQualify" />
    <result column="GET_QUALIFY_METHOD" jdbcType="VARCHAR" property="getQualifyMethod" />
    <result column="EMPLOYEE_CNTS" jdbcType="DECIMAL" property="employeeCnts" />
    <result column="SPECIAL_TIPS" jdbcType="VARCHAR" property="specialTips" />
    <result column="AMAC_LINK" jdbcType="VARCHAR" property="amacLink" />
    <result column="FUNDSCALE" jdbcType="DECIMAL" property="fundscale" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREDIT_CODE" jdbcType="VARCHAR" property="creditCode" />
    <result column="HAS_CONSULTING_QUALIFICATION" jdbcType="DECIMAL" property="hasConsultingQualification" />
    <result column="LEGAL_OPINION_STATUS" jdbcType="VARCHAR" property="legalOpinionStatus" />
    <result column="FUNDSCALE_DATE" jdbcType="TIMESTAMP" property="fundscaleDate" />
    <result column="CANCEL_TYPE" jdbcType="DECIMAL" property="cancelType" />
    <result column="CANCEL_DATE" jdbcType="TIMESTAMP" property="cancelDate" />
    <result column="IS_QUALITY" jdbcType="DECIMAL" property="isQuality" />
    <result column="IS_DELETE" jdbcType="DECIMAL" property="isDelete" />
    <result column="DATA_CREATE_TIME" jdbcType="DECIMAL" property="dataCreateTime" />
    <result column="DATA_UPDATE_TIME" jdbcType="DECIMAL" property="dataUpdateTime" />
    <result column="BUSINESS_TYPE" jdbcType="VARCHAR" property="businessType" />
    <result column="INTEGRITY_INFO" jdbcType="VARCHAR" property="integrityInfo" />
    <result column="COMPANY_SHORT_NAME" jdbcType="VARCHAR" property="companyShortName" />
    <result column="HT_UNIQUE_CODE" jdbcType="VARCHAR" property="htUniqueCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    COMPANY_ID, P_COMPANY_ID, COMPANY_NAME, COMPANY_ENGLISH_NAME, COMPANY_TYPE, ORGANIZATION_NUMBER, 
    ESTABLISH_DATE, DOMICILE_ID, COMPANY_ADDRESS, COMPANY_ADDRESS2, CITY, PROVINCE, COUNTRY, 
    REG_CITY, REG_PROVINCE, REG_COUNTRY, CONTACT_PHONE, POST_CODE, FAX, EMAIL, WEBSITE, 
    REGISTERED_CAPITAL, COMPANY_PROFILE, OFFSHORE_FUND, PHILOSOPY, COMPANY_STATUS, BASE_CURRENCY_CRC, 
    REGISTER_NUMBER, REGISTER_STATUS, REGISTER_DATE, IS_MEMBER, JOIN_DATE, MEMBER_TYPE, 
    FUND_CATEGORY_ORI, NATURE_BUSINESS_TYPE, CAPITAL_PAID_RATE, REGISTER_NUMBER_ADDRESS, 
    LOGO, ISVISIBLE, ISVALID, UPDATETIME, PAID_CAPITAL, COMPANY_ASSET_SIZE, LEGAL_REPRESENTATIVE, 
    REPRESENTATIVE_EXPERIENCE, IS_QUALIFY, GET_QUALIFY_METHOD, EMPLOYEE_CNTS, SPECIAL_TIPS, 
    AMAC_LINK, FUNDSCALE, CREATETIME, CREDIT_CODE, HAS_CONSULTING_QUALIFICATION, LEGAL_OPINION_STATUS, 
    FUNDSCALE_DATE, CANCEL_TYPE, CANCEL_DATE, IS_QUALITY, IS_DELETE, DATA_CREATE_TIME, 
    DATA_UPDATE_TIME, BUSINESS_TYPE, INTEGRITY_INFO, COMPANY_SHORT_NAME, HT_UNIQUE_CODE
  </sql>


  <select id="pageQuery" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> from
    (SELECT t.*,ROWNUM rn FROM
    (SELECT  <include refid="Base_Column_List" /> FROM PVN_COMPANY_INFO WHERE IS_DELETE = 0 ORDER BY COMPANY_ID) t
    WHERE  ROWNUM &lt;= #{endRow}) where rn > #{startRow}
  </select>

</mapper>